# Dependencies
node_modules
npm-debug.log*

# Build output
.next
out

# Env files (di-pass via docker-compose, bukan di-copy)
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Dev tools & docs
README.md
*.md
.eslintrc*
.prettierrc*

# OS
.DS_Store
Thumbs.db

# TypeScript build info
*.tsbuildinfo
tsconfig.tsbuildinfo
